body {    
    color: white;    
    background: linear-gradient(#062b0a,rgb(23 49 15 / 95%)), url(./includes/img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.divalert {
    margin-left: 10px;
}

.btn-info{
    color:#105219!important;
    background-color: #f2e70a!important;
    border-color: transparent!important;
    transition: 0.4s;
    font-size: 20px!important;
}

.btn-info:hover{
    background-color: #17a2b8!important;
    color:white!important;
}
/*#btnEnviar {
    background-color: rgb(179, 17, 17);
    border: solid  rgb(179, 17, 17);
    margin-bottom: 20px;
}*/

.form-control:focus {
    box-shadow: none;
    border: solid 1px black;
    background-color: #e2e2f0;
}

.footer {
   
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: #888888!important;
   text-align: center;
}

#footerSolicitacao{
    text-align: center!important;
}

#footerTxt{
    transition: 0.4s;
}

#footerTxt:hover{
    color: white;
}

#footerHome{
    position: fixed;
}

#containerHome{
    margin-top: 95px;
}

@media only screen and (max-width:  600px){
    #containerHome{
        margin-top: 20px;
    }
    #footerTxt{
        font-size: 15px;
    }
    #footerHome{
        padding-top: 100px;
    }  
    #footerHome{
        position: inherit;
    }  
}
    
    