body {
    background-color: rgb(39, 43, 43);
    color: white;
}

.divalert {
    margin-left: 10px;
}

#btnEnviar {
    background-color: rgb(179, 17, 17);
    border: solid  rgb(179, 17, 17);
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
    border: solid 1px black;
    background-color: #e2e2f0;
}